/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
:root {
  --branding-color: #bae8e8;
  --secondary-color: #e3f6f5;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #272343;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 55px;
}

p {
  color: #272343;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

footer {
  background: #e3f6f5;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 140px 20px;
}

.content-container {
  padding: 60px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content {
  margin: 35px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  background: var(--branding-color);
  border-radius: 4px;
  font-size: 15px;
  line-height: 22px;
  padding: 10px 20px;
}

.contact-container {
  background-color: #bae8e8;
  background-size: 100%;
  text-align: center;
  padding: 30px 25px 100px;
  margin: auto;
}
.contact-container i {
  text-align: center;
  font-size: 70px;
  color: white;
}

.contact-container i:hover,
.contact-container a:hover {
  color: #272343;
  transition: all 120ms ease-in-out;
}

.contact-container a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.headshot {
  border-radius: 50%;
  height: 10%;
  width: 20%;
}

.featured {
  font-size: 23px;
}

.icons {
  font-size: 38px;
  text-align: center;
  color: #272343;
}

.skill-icons {
  color: #7dc1c1;
  font-size: 38px;
}

.fa-instagram,
.fa-linkedin,
.fa-envelope,
.fa-github-alt {
  padding: 15px 25px;
  color: #272343;
}

img {
  border-radius: 25px;
}

nav {
  padding: 15px 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #272343;
}

nav li.active a,
nav a:hover {
  color: #7dc1c1;
  transition: all 120ms ease-in-out;
}

.index-page {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 420px; /* Makes all images the same width */
  height: auto; /* Keeps aspect ratio */
  object-fit: cover; /* Ensures images fill the space nicely */
}

.work-page .index-page {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

/* New */
.nav-link {
  color: #272343;
}

.navbar .nav-link.active,
.nnavbar.nav-link:hover {
  color: #7dc1c1;
  transition: all 120ms ease-in-out;
}

@media (max-width: 768px) {
  h1 {
    font-size: 44px;
    line-height: 1.2;
    padding-top: 20px;
  }

  h2 {
    font-size: 42px;
  }

  .hero {
    padding: 70px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content {
    text-align: center;
    padding: 0 5px 0;
    margin: 10px;
  }

  .project-image {
    margin-bottom: 30px;
  }

  .featured {
    line-height: 0em;
  }

  .content-container {
    padding-top: 0;
  }

  .content-container h1 {
    font-size: 50px;
    line-height: 60px;
  }

  .btn-branding-outline {
    margin-bottom: 18px;
  }

  .project-description h2 {
    margin-top: 0;
  }

  .headshot {
    width: 300px;
  }

  .project-image {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
